body{
	background-color: rgb(204, 204, 204);
}

a{
	text-decoration: none;
	color:black;
}

li{
	list-style-type: none;
	
}

h1{
	text-align: center;
}

h2{
	text-align: center;
}

.player_one{
	background-color: rgb(255, 255, 255);
	padding: 10px;
	border-radius: 5px;
}

.player_two{
	background-color: rgb(255, 255, 255);
	padding: 10px;
	border-radius: 5px;
}